
   
/* 767 snap to mobile Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00131b+0,003043+100 */
body{   
width: 100%;
height: 100%;
display: block;
background: #00131b; /* Old browsers */
background: -moz-linear-gradient(top, #00131b 0%, #003043 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #00131b 0%,#003043 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #00131b 0%,#003043 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00131b', endColorstr='#003043',GradientType=0 ); /* IE6-9 */
}
html{
  
  overflow-x:hidden;
}
section#intro{
    height:100vh;
    .fin-int-logo{
        display: block;
        margin: 10vh auto 0 auto;
        width: 300px;
    }
    p{
    color: white;
    }
    .moon{
    position: absolute;
    right:100px;
    top:100px;
    }
    ////////////archparlx
    .bg-icon {
    font-size: 416px;
    color: white;
    position: absolute;
    left: 10%;
    top: 20%;
    }
    @media(max-width: 767px) {
        
    }

    
    /////////////archparlx
    .top-star-wrap{
    position: absolute;
    width: 100%;
    
        // .fa-star{
        //             width:50px;
        //             height:50px;
        //      }
        .star{
            
            width:50px;
            height:50px;
            background-position: center top;
            background-image: url("../img/star.png")
            }
            .star:nth-child(1) {
            position:absolute;
            left: 10%;
            top: 10%;
            display:block;
            height:50px;
            width:50px;
            }
            .star:nth-child(2) {
            position:absolute;
            left: 20%;
            top: 20%;
            }
            .star:nth-child(3) {
            position:absolute;
            left: 30%;
            top: 30%;
            }
            .star:nth-child(4) {
            position:absolute;
            left: 40%;
            top: 40%;
            }
            .star:nth-child(5) {
            position:absolute;
            left: 50%;
            top: 50%;
        }
    }
    
}


//////////arrow////////////
$ani-speed: 2s;
$ani-delay: 1s;

.arrow-container {
    height:100px;
    min-width:100%;
}

.arrow {
    opacity: 0;
    position: absolute;
        left: 50%;
        top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}


.arrow-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% { 
        opacity: 0;
        
    }
    70% {
        opacity: .80;
    }
    100% { 
        opacity: 0;
        top: 85%;
    }
}

.down-arrow{
    height:50px;
    width:100px;
    margin: 0 auto;
    display:block;
    position: relative;
}

////////////end arrow////////////





////////////ticker////////////
* { box-sizing: border-box; }
$duration: 5s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: 4rem;
  background-color: rgba(#000, 0.2); 
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {

    display: inline-block;
    height: 4rem;
    line-height: 4rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;

      padding: 0 2rem;
      font-size: 2rem;
      color: white;   

    }

  }

}
////////////end ticker////////////

////////////cloud section////////////
section#clouds{
    width:100vw;
    // background-image: url("/assets/img/backround.png");
    // background-repeat: no-repeat;
    // background-position: bottom center;
    // background-size: 100%;
    overflow-x: hidden;
    .fin-int-logo{
        display: block;
        margin: 10vh auto 0 auto;
        width: 300px;
    }
    p{
        color: white;
    }
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    width:40px;
    position: absolute;
    color: #FFFFFF;
    user-select: none;
    z-index: 0;
    pointer-events: none;
}
.snowflake:hover {
    cursor: none;
}
////////////cloud section////////////

#cloud1 {  
  display: block;
  transform: translateY(-200px);
  position: absolute;
  margin: 0 auto;
  width: 350px;
  height: 300px;
  z-index: 1000;
  background: url("/assets/img/cloud1.png");
  //animation: alternate play .8s steps(6) infinite;
}
// @keyframes play {
//   100% { background-position: -900px; }
// }

.building-full{
    display:block;
    width:100%;
    height:100%;
}

@media screen and (max-width: 767px) {
  .show-desktop{
      display:none;
  }
  .show-mobile{
      display:block;
  }
}
@media screen and (min-width: 767px) {
  .show-desktop{
      display:block;
  }
  .show-mobile{
      display:none;
  }
}